
{% extends 'crud_base.html.twig' %}

{% block title %}EditableHeadingContent index{% endblock %}

{% block body %}
    <h1>EditableHeadingContent index</h1>



<form method="get" action="{{ path('app_editable_heading_content_index') }}">
        <input type="text" name="search" value="{{ search }}" placeholder="Search...">
        <select name="pageFilter" onchange="this.form.submit()">
            <option value="">All Pages</option>
            {% for page in distinctPages %}
                <option value="{{ page.page }}" {% if pageFilter == page.page %}selected{% endif %}>{{ page.page }}</option>
            {% endfor %}
        </select>
        <button class="button">Search</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ path('app_editable_heading_content_index', { sort: 'id', direction: direction == 'asc' ? 'desc' : 'asc', search: search }) }}">Id</a></th>
                <th><a href="{{ path('app_editable_heading_content_index', { sort: 'textContent', direction: direction == 'asc' ? 'desc' : 'asc', search: search }) }}">TextContent</a></th>
                <th><a href="{{ path('app_editable_heading_content_index', { sort: 'tag', direction: direction == 'asc' ? 'desc' : 'asc', search: search }) }}">Tag</a></th>
                <th><a href="{{ path('app_editable_heading_content_index', { sort: 'page', direction: direction == 'asc' ? 'desc' : 'asc', search: search }) }}">Page</a></th>
                <th><a href="{{ path('app_editable_heading_content_index', { sort: 'headerLevel', direction: direction == 'asc' ? 'desc' : 'asc', search: search }) }}">HeaderLevel</a></th>
                <th><a href="{{ path('app_editable_heading_content_index', { sort: 'createdAt', direction: direction == 'asc' ? 'desc' : 'asc', search: search }) }}">CreatedAt</a></th>
                <th><a href="{{ path('app_editable_heading_content_index', { sort: 'updatedAt', direction: direction == 'asc' ? 'desc' : 'asc', search: search }) }}">UpdatedAt</a></th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editable_heading_content in editable_heading_contents %}
            <tr>
                <td>{{ editable_heading_content.id }}</td>
                <td>{{ editable_heading_content.textContent }}</td>
                <td>{{ editable_heading_content.tag }}</td>
                <td>{{ editable_heading_content.page }}</td>
                <td>{{ editable_heading_content.headerLevel }}</td>
                <td>{{ editable_heading_content.createdAt ? editable_heading_content.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ editable_heading_content.updatedAt ? editable_heading_content.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="button" href="{{ path('app_editable_heading_content_show', {'id': editable_heading_content.id}) }}">show</a>
                    <a class="button" href="{{ path('app_editable_heading_content_edit', {'id': editable_heading_content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  {# <a class="button" href="{{ path('app_editable_heading_content_new') }}">Create new</a>#} 
{% endblock %}
