{# templates/_sidebar.html.twig #}
{% block sidebar_styles %}
    <link rel="stylesheet" href="{{ asset('build/css/sidebar_styles.css') }}">
{% endblock %}

<div class="sidebar" id="sidebar">
    <ul>
<br/><br/>
        <li><a href="http://localhost:3000"><h3>Visit Homepage &#11088;</h3></a></li> 
            <li><h2><hr/></h2></li>
        <li><h2>Marketing Manager's Section:</h2></li>
        <li><a href="{{ path('app_question.index') }}">Manage Questions &#128173;</a></li>
        <li><a href="{{ path('app_frequent_question.index') }}">Manage FAQs &#128173;</a></li>
        <li><h2><hr/></h2></li>
        <li><h2>Editor's Section:</h2></li>
        <li><a href="{{ path('editable_page_content') }}">Edit Content by Page &#128393;</a></li>
        <li><a href="{{ path('app_editable_heading_content_index') }}">Edit Header Content &#128393;</a></li>
        <li><a href="{{ path('app_editable_text_content_index') }}">Edit Text Content &nbsp;&#128393;</a></li>
        <li><a href="{{ path('app_editable_image_content_index') }}">Edit Image Content &#128393;</a></li>
        <li><h2><hr/></h2></li>
        <li><h2>User Admin's Section:</h2></li>
        <li><a href="{{ path('app_user') }}">Manage Users &#129457;</a></li>
        <li><a href="{{ path('app_logout') }}">Log Out &#9940;</a></li><br/><br/>
    </ul>
</div>

<button class="sidebar-toggle" id="sidebar-toggle">☰</button>

{% block sidebar_scripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
